@import "variables";

body{
  font-family: 'Roboto', sans-serif;
  background: white !important;
}

.container{
    margin: 20px auto;
    max-width: $larghezza-massima;
}

.full-width{
    width: 100%;
}

// Da qui in giù sono aposto

.impaginatore{
  width: 100%;
  max-width: 640px;
  margin: auto;
}

h1{
  font-weight: bold !important;
  color: $normal-gray !important;
  margin-bottom: 50px !important;
}
