@import "variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-family: 'Roboto', sans-serif;
  background: $background-gray !important;
  color: $dark-gray !important;
  -webkit-font-smoothing: antialiased;
}

.right-panel{
  display: block;
  float: left;
  width: 100%;

  @media screen and (min-width: 1024px){
    margin-left: 25%;
    width: 75%
  }
}


// Da qui in giù sono aposto

.impaginatore{
  margin-top: 50px !important;
  width: 100%;
  max-width: 660px;
  margin: auto;
  padding: 0 10px 0 10px;
}

h1{
  font-weight: bold !important;
  color: $normal-gray !important;
  margin-bottom: 50px !important;
}

h3{
  width: auto !important;
  font-size: 17px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  line-height: 20px;
  color: $dark-gray;
  vertical-align: middle;
  padding: 4px 0;
}
