@import "variables";
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

.navigation-bar{
  float: left;
  position: fixed;
  width: 25%;
  min-width: 200px;
  height: 100%;
  padding-left: 5%;
  background-color: white;
  padding-top: 50px;

  .logo{
    font-family: 'Bree Serif', serif;
    font-size: 36px;
  }
}

.sidebar-section{
  margin-top: 40px;

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .section-heading{
    font-size: 15px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700 !important;
    color: $medium-gray;
    line-height: 50px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .sidebar-item{
    font-size: 15px;
    cursor: pointer;
    position: relative;
    width: calc(100% + 20px);
    line-height: 44px;
    padding-left: 20px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    margin: 8px 0 8px -20px;

    &:hover{
      font-weight: 500;
    }

    &.active{
      font-weight: 500;
      background-color: $background-gray;
    }
  }
}

.footer{
  font-size: 12px;
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 0;
  margin: 0;
  padding: 0;

  & > p{
    line-height: 28px
  }
}
