@import "variables";

.section-heading{
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;

  .titolo-data{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700 !important;
    margin: auto;
    display: inline-block;
    width: auto;
    box-shadow: 0 2px 0 $normal-gray;
  }
}

.aggiungiBottone {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  background-color: none;
  background: $primary-gradient !important;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
}
