@import "variables";

.form-login{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tab-login{
  text-transform: uppercase;
  color: red !important;
  min-width: 72px !important;

  &:hover{

  }

  &.selected{
    color: red !important;
  }
}

.input-login{
  display: block;
  width: 100%;
  margin-bottom: 10px !important;
}
