.heat-count-circle{
  flex-shrink:0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #e0e0e0;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;

  color: $dark-gray;

  &.isHot{
    background-color: $hot-red;
    color: white;
  }

  &.isCold{
    background-color: $primary-blue;
    color: white;
  }

  &::before {
    position: absolute;
    transition: all .2s linear;
    margin-top: -16px;
    content: "+";
    color: transparent;
  }

  &::after {
    position: absolute;
    transition: all .2s linear;
    margin-top: 15px;
    content: "-";
    color: transparent;
  }

}
}
