$light-grey: #F5F8FA;
$dark-grey: #e8e8e8;
$darker-grey: #a6a6a6;
$hot-red: #e91c4c;
$cold-blue: #4FA8EE;

$border-radius: 4px;

// Lorenzo's variables

// Layout variables
$larghezza-massima: 1024px;

// Color variables
$background-gray: #f2f2f2;
$lighter-gray: #eeeeee;
$light-gray: #ebebeb;
$normal-gray: #cdcdcd;
$medium-gray: #9e9e9e;
$dark-gray: #4f4f4f;

$primary-blue: #1770f2;
