#content{
  padding: 30px;
}

.titoloPagina{
  padding-bottom: 30px;
}

.formButtons{
  display: flex;
  justify-content: center;
}

.progressButton{
  overflow: hidden;

  .progress-bar{
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;

      span{
          display: block;
          height: 100%;
          width: 0%;
          background: #e0e0e0;
          transition: width 1s;
      }
  }

  .titoloBottoneImmagine{
    z-index: 10;
  }

  .doneIcon{
    z-index: 10;
    position: absolute;
    right: 10px;
  }
}
