#content{
  padding: 20px;
}

.formButtons{
  display: flex;
  justify-content: center;
}

.progress-bar{
    width: 100%;
    height: 50px;
    background: grey;

    span{
        display: block;
        height: 100%;
        width: 0%;
        background: blue;
        transition: width 1s;
    }
}
