$primary-color: #eee;

body{
    background: $primary-color;
    font-size: 40px;
}

.container{
    max-width: 1024px;
    padding: 20px;
    background: white;
    margin: auto;
}

.full-width{
    width: 100%;
}