$light-grey: #f9f9f9;
$dark-grey: #e8e8e8;

body{
    background: $light-grey;
    font-size: 12px;
}

.container{
    max-width: 1100px;
    padding: 20px;
    background: white;
    margin: auto;
}

.full-width{
    width: 100%;
}