@import "variables";

body{
    background: $light-grey;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 20px auto;
    max-width: 1024px;
}

.full-width{
    width: 100%;
}
