$light-grey: #F5F8FA;
$dark-grey: #e8e8e8;
$darker-grey: #a6a6a6;
$hot-red: #e91c4c;
$cold-blue: #4FA8EE;

$border-radius: 4px;

// Lorenzo's variables
$lighter-gray: #f7f7f7;
$light-gray: #f2f2f2;
$normal-gray: #f4f4f4;
$dark-gray: #4f4f4f;
